#compiled Object files
*.slo
*.lo
*.o

#Compiled Dynamic libraries
#*.so
*.dylib

#Compiled Static libraries
*.lai
*.la
#*.a

BayeData/
build/
result_bak/
outfile*
TrashFilter/
result.txt
run_dataprocess
