# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
# *.so
*.dylib

# Compiled Static libraries
*.lai
*.la
# *.a

build/
lib/Data/UserDict.map
lib/Data/UserDict.pdat
lib/Data/UserDict.pos
