{% extends "topics.html" %}
{% block header %}
{{super()}}
<style>
    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.42;
        border-radius: 15px;
    }
</style>
{% endblock %}
<!-- topics -->
{% block topics %}
    <table id='topics' class='table table-striped'>
        {% for entry in topics %}
        <tr class='row'>
            <td>
                <span>
                    <a id="{{ 'get_sub_topics' }}{{ loop.index }}" class='col-md-8' class='btn' data-toggle='modal' href="#">
                        {{ entry.mainidea }}
                        <input type=hidden size=25 name='id' value={{ entry.id }}>
                        <input type=hidden size=25 name='timestamp' value={{ entry.timestamp}}>
                    </a>
                    <span class='col-md-4'>
                        blogs: {{ entry.number_of_blogs }}
                    </span>
                </span>
                <span id="topic_keywords{{ loop.index }}">
                    <lead>Keywords</lead>: {{ entry.keywords }}
                </span>
            </td>
        </tr>
        {% else %}
        <tr class='row'>
            <h4 align='center'>Unbelievable.  No entries here so far</h4>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
<!-- political topics -->
{% block politics %}
    <table class='table table-striped'>
        {% for entry in politic_topics %}
        <tr class='row'>
            <td>
                <span>
                    <a id="{{ 'get_sub_topics_politic' }}{{ loop.index }}" class='col-md-8' class='btn' data-toggle='modal' href="#">
                        {{ entry.mainidea }}
                        <input type=hidden size=25 name='id' value={{ entry.id }}>
                        <input type=hidden size=25 name='timestamp' value={{ entry.timestamp}}>
                    </a>
                    <span class='col-md-4'>
                        blogs: {{ entry.number_of_blogs }}
                    </span>
                </span>
                <span id="topic_keywords_politic{{ loop.index }}">
                    <lead>Keywords</lead>: {{ entry.keywords }}
                </span>
            </td>
        </tr>
        {% else %}
        <tr class='row'>
            <h4 align='center'>Unbelievable.  No entries here so far</h4>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

<!-- metrics -->
{% block metrics %}
<!-- matched -->
{% if unmatched_metrics %}
    <div class='container'>
        <h3 class='col-md-3'><span class='label label-default'>Recall</span><span class='badge pull-right'>{{ matched_metrics|length / unmatched_metrics|length * 100 }}%</span></h3>
        <h3 class='col-md-3'><span class='label label-default'>Precision</span><span class='badge pull-right'>{{ matched_metrics|length / topics|length * 100 }}%</span></h3>
    </div>
    <br>
{% else %}
    <h4 align='center'>Unbelievable.  No entries here so far</h4>
{% endif %}
<div>
    <h4>Matched Topics</h4>
</div>
<table class='table table-striped'>
    {% for entry in matched_metrics %}
        {% if loop.index % 12 == 0 %}
            <div class="clearfix visible-md-block"></div>
        {% endif %}
        <tr class='col-md-1 success'><td>{{ entry }}</td></tr>
    {% endfor %}
</table>
<!-- unmatched -->
<div>
<h4>UnMatched Topics</h4>
</div>
<table class='table table-striped'>
    {% for entry in unmatched_metrics %}
        <tr class='col-md-1 danger'><td>{{ entry }}</td></tr>
        {% if loop.index % 12 == 0 %}
            <div class="clearfix visible-md-block"></div>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}

{% block subtopic %}
    <div class='modal fade' id='topic-dialog' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden="true"></div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="static/js/subtopic.js"></script>
{% endblock %}
