{% extends "topics.html" %}
<!-- topics -->
{% block topics %}
    <table id='topics' class='table table-striped'>
        {% for entry in topics %}
        <tr class='row'>
            <td>
                <span>
                    <a id="{{ 'get_sub_topics' }}{{ loop.index }}" class='col-md-8' class='btn' data-toggle='modal' href="#">
                        {{ entry.mainidea }}
                        <input type=hidden size=25 name='id' value={{ entry.id }}>
                        <input type=hidden size=25 name='timestamp' value={{ entry.timestamp}}>
                    </a>
                    <span class='col-md-4'>
                        blogs: {{ entry.number_of_blogs }}
                    </span>
                </span>
                <span id="topic_keywords{{ loop.index }}">
                    <lead>Keywords</lead>: {{ entry.keywords }}
                </span>
            </td>
        </tr>
        {% else %}
        <tr class='row'>
            <h4 align='center'>Unbelievable.  No entries here so far</h4>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
<!-- political topics -->
{% block politics %}
    <table class='table table-striped'>
        {% for entry in politic_topics %}
        <tr class='row'>
            <td>
                <span>
                    <a id="{{ 'get_sub_topics_politic' }}{{ loop.index }}" class='col-md-8' class='btn' data-toggle='modal' href="#">
                        {{ entry.mainidea }}
                        <input type=hidden size=25 name='id' value={{ entry.id }}>
                        <input type=hidden size=25 name='timestamp' value={{ entry.timestamp}}>
                    </a>
                    <span class='col-md-4'>
                        blogs: {{ entry.number_of_blogs }}
                    </span>
                </span>
                <span id="topic_keywords_politic{{ loop.index }}">
                    <lead>Keywords</lead>: {{ entry.keywords }}
                </span>
            </td>
        </tr>
        {% else %}
        <tr class='row'>
            <h4 align='center'>Unbelievable.  No entries here so far</h4>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

<!-- metrics -->
{% block metrics %}
<!-- matched -->
<h4>Matched Topics</h4>
<ul>
    {% for entry in matched_metrics %}
        <li>{{ entry }}</li>
    {% endfor %}
</ul>
<!-- unmatched -->
<h4>UnMatched Topics</h4>
<ul>
    {% for entry in unmatched_metrics %}
        <li>{{ entry }}</li>
    {% else %}
        <h4 align='center'>Unbelievable.  No entries here so far</h4>
    {% endfor %}
</ul>
{% endblock %}

<!-- pagination -->
{% block pagination %}
<div class='container' align='center'>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
{% endblock %}
{% block subtopic %}
    <div class='modal fade' id='topic-dialog' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden="true"></div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="static/js/subtopic.js"></script>
{% endblock %}
