{% extends "layout.html" %}
{% block header %} 
    <link rel="stylesheet" type="text/css" href="static/css/timepicker/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="static/css/timepicker/bootstrap-datepicker.css">
{% endblock %}
{% block body %}
<!-- jumbotron -->
{% include 'jumbotron.html' %}
<!-- tabs -->
<section class='container'>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a data-toggle="tab" href="#common"><h3>Hotest Topics</h3></a></li>
        <li><a data-toggle="tab" href="#politics"><h3>Politics Topics</h3></a></li>
        <li><a data-toggle="tab" href="#metrics"><h3>Metrics</h3></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="common">
            {% block topics %} {% endblock %}
        </div>
        <div class="tab-pane" id="politics">
            {% block politics %} {% endblock %}
        </div>
        <div class="tab-pane" id="metrics">
            {% block metrics %} {% endblock %}
        </div>
    </div>
    {% block pagination %} {% endblock %}
    <!-- Time Picker -->
    <div class="well">
        <form role="form" method="get">
            <h4 align='center'>Choose another time</h4>
            <div align='center'>
                <p id="datepairExample">
                <input type="text" class="date start" name='date'/>
                <input type="text" class="time start" name='time'/>
                </p>
            </div>
            <div align='center'>
                <button type="submit" class="btn btn-default btn-xs">Go</button>
            </div>
        </form>
    </div>
    {% block subtopic %}{% endblock %}
</section>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="static/js/timepicker/jquery.timepicker.js"></script>
    <script type="text/javascript" src="static/js/timepicker/bootstrap-datepicker.js"></script>
    <script>
      // initialize input widgets first
      $('#datepairExample .time').timepicker({
      'showDuration': true,
      'timeFormat': 'h:i A',
      'step': 60
      });

      $('#datepairExample .date').datepicker({
        'format': 'mm/dd/yyyy',
        'autoclose': true
      });
    </script>
{% endblock %}
{% block backtotop %}
<!-- Back to Top hook -->
<div class='container'>
    <button type='button' href="#top" id ="backToTopBtn" class="btn btn-default">Back To Top</button>
    <br><br><br><br><br><br><br><br>
</div>
{% endblock %}
